* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  height: 100vh; /* aby barva zakryla celou stránku*/
}

.main {
  width: 360px;
  margin: auto; /* vycentrování na střed */
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

.image {
  width: 360px;
  border-radius: 5px 5px 0px 0px; /* kulaté rohy */
}

.text {
  background-color: #283e50;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
  padding: 30px 10px 30px 10px;
}

.text h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 100; /* písmo je tenčí */
}

.text p {
  margin: 0;
  font-family: sans-serif;
}

.buttons {
  list-style-type: none; /* smazání bullet points u položek seznamu */
  padding: 0;
  margin: 0;
}

.buttons a {
  color: #ffffff;
  font-family: sans-serif;
  text-decoration: none;
}
.buttonPravidla {
  background-color: #1fcca4;
  text-align: center;
  display: inline-block; /*řádkový prvek a převést na řádkově blokový, aby správně fungoval padding nahoře a dole */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 360px;
  border-bottom: 1px solid black; /*čára mezi buttony */
}
.buttonZacit {
  background-color: #0197f6;
  text-align: center;
  display: inline-block; /*řádkový prvek a převést na řádkově blokový, aby správně fungoval padding nahoře a dole */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 360px;
}
a.buttonPravidla:hover {
  background-color: #1cbb96;
}
a.buttonZacit:hover {
  background-color: #0090e9;
}
