/* Gradient: #615dad +  #ffc8da
Barva textu  #ffffff
Podkladová tmavě modrá  #283e50
Tlačítko Pravidla  #1fcca4 + po najetí myši  #1cbb96
Tlačítko Začít hrát  #0197f6 + po najetí  #0090e9 */

* {
  /* hvězdička = nastavení pro vše */
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  height: 100vh; /* aby barva zakryla celou stránku*/
}

.main {
  width: 360px;
  margin: auto; /* vycentrování na střed */
  display: flex;
  flex-direction: column;
}

.image {
  width: 360px;
}

.text {
  background-color: #283e50;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
  padding: 30px 10px 30px 10px;
}

.text h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 100; /* písmo je tenčí */
}

.text p {
  margin: 0;
  font-family: sans-serif;
}

.buttons ul {
  list-style-type: none; /* smazání bullet points u položek seznamu */
  padding: 0;
  margin: 0;
}
