* {
  box-sizing: border-box;
}

.index {
  background: linear-gradient(#615dad, #ffc8da);
  height: 100vh; /* aby barva zakryla celou stránku*/
}

.main {
  width: 360px;
  margin: auto; /* vycentrování na střed */
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

.image {
  width: 360px;
  border-radius: 5px 5px 0px 0px; /* kulaté rohy */
}

.text {
  background-color: #283e50;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
  padding: 30px 10px 30px 10px;
}

.text h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 100; /* písmo je tenčí */
}

.text p {
  margin: 0;
  font-family: sans-serif;
}

.buttons {
  padding: 0;
  margin: 0;
}

.buttons a {
  color: #ffffff;
  font-family: sans-serif;
  text-decoration: none;
}

.button1Pravidla {
  background-color: #1fcca4;
  text-align: center;
  display: inline-block; /*řádkový prvek a převést na řádkově blokový, aby správně fungoval padding nahoře a dole */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 360px;
  border-bottom: 1px solid black; /*čára mezi buttony */
}
.button1Zacit {
  background-color: #0197f6;
  text-align: center;
  display: inline-block; /*řádkový prvek a převést na řádkově blokový, aby správně fungoval padding nahoře a dole */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 360px;
}
a.button1Pravidla:hover {
  background-color: #1cbb96;
}
a.button1Zacit:hover {
  background-color: #0090e9;
}

/* ---------------Pravidla--------------- */
.pravidla {
  background: linear-gradient(#615dad, #ffc8da);
  height: 100%; /* aby barva zakryla celou stránku*/
}

.mainRules {
  max-width: 350px;
  margin: auto; /* vycentrování na střed */
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

.textRules {
  background-color: #283e50;
  color: #ffffff;
  text-align: left;
  line-height: 1.5;
  padding: 40px 40px 40px 60px;
  font-family: sans-serif;
  border-radius: 5px 5px 0px 0px; /* kulaté rohy */
}
.textRules h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0;
  padding: 0 0 30px 0;
  font-weight: 100; /* písmo je tenčí */
  text-align: center;
}
.list {
  margin: 0;
  padding: 0;
}

li {
  padding-left: 10px;
  padding-bottom: 15px;
}

.list img {
  width: 1em;
  height: 1em;
  filter: invert(100%); /*z černé na bílou*/
}
.images {
  background-color: #283e50;
  color: #ffffff;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 290px;
}
figcaption {
  margin-top: 8px;
  text-align: center;
}
.images img {
  width: 100%;
}

.button2Uvodni {
  background-color: #1fcca4;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid black; /*čára mezi buttony */
}
.button2Zacit {
  background-color: #0197f6;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  flex-shrink: 1;
}
a.button2Uvodni:hover {
  background-color: #1cbb96;
}
a.button2Zacit:hover {
  background-color: #0090e9;
  flex-shrink: 1;
}

@media (min-width: 800px) {
  .mainRules {
    max-width: 800px;
  }
  figure {
    max-width: 355px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 15px 15px 35px 15px;
  }
}
/* ---------------Hra--------------- */
.hra {
  background: linear-gradient(#615dad, #ffc8da);
  height: 100%; /* aby barva zakryla celou stránku*/
}

.mainHra {
  max-width: 80vmin;
  margin: auto; /* vycentrování na střed */
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}
.mainHra h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #ffffff;
  margin: 0;
  padding: 0 0 30px 0;
  font-weight: 100; /* písmo je tenčí */
  text-align: center;
}

.mainHra img {
  width: 1em;
  height: 1em;
  filter: invert(100%); /*z černé na bílou*/
}

.mainHra p {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 2em;
}

.hraciPole button {
  width: 80px;
  height: 80px;
  padding: 0;
  border: 0;
}
